*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#head{
  color: purple;
  background-color: aliceblue;
  font-size: 48px;
  font-style: italic;
text-align: center;
}

#list{
  font-size: 30px;
  color: rgb(234, 161, 173);
  padding: 50px;
}